@use '../../colors.scss' as colors;
.planets{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .planet{
        margin: 1rem;
        width: 500px;
        // overflow-y: hidden;
        .planet__heading{
            padding: .25rem .5rem;
            background: #8aabfe;
            font-size: 1.5rem;
            font-weight: 600;
            color: colors.$main-color;
            text-align: center;
        }
        .planet__content{
            height: 215px;
            background: #BBBBBB;
            .planet__text-line{
                padding: .125rem .25rem;
                color: colors.$main-color;
                font-size: 1.2rem;
                text-align: left;
                >span{
                    min-width: 130px;
                    margin-right: .5rem;
                    display: inline-block;
                    background-color: darken(#BBBBBB, 5%);
                }
            }
        }
    }
}
.pagination{
    padding: .25rem 1rem;
    margin-bottom: 2rem;
    .pagination__list{
        list-style: none;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        color:colors.$main-color;
        .list__link-disabled,.list__item,.list__link-active{
            .list__link{
                display: block;
                text-decoration: none;
                padding: .5rem 1rem;
                font-size: 1.4rem;
                border: 1px solid colors.$main-color;
                border-left: none;
                transition: background .25s ease-in-out,color .25s ease-in-out;   
            }
            &:first-of-type{
                .list__link{
                    border-left: 1px solid colors.$main-color;
                }
            }
        }
        .list__link-disabled,.list__link-active{
            cursor: default;
        }
        .list__item{
            cursor: pointer;     
            .list__link:hover{
                background: lighten(colors.$main-color,15%);
                color: colors.$main-background-color;    
            }
        }
        .list__link-active{
            .list__link{
                background: colors.$main-color;
                color: colors.$main-background-color;
            }
        }
        .list__link-disabled{
            .list__link{
                color:lighten(colors.$main-color,55%);
            }
        }
    }
}