@use '../../_colors.scss' as colors;
@use '../../_mixin.scss' as mixins;
$link-hover-color: darken(colors.$main-background-color,15%);
.site__heading{
    background: colors.$main-background-color;
    display: block;
    width: 100%;
    padding: 1.125rem 2.5rem;
    //>.container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    //}
    .nav{
        flex:1;
    }
    border-bottom: 1px solid colors.$main-color;
}
.nav{
    text-align: center;
    display: block;
    .nav__menu{
        display: inline-block;
        .nav__item{
            float: left;
        }
        .nav__link{
            margin: .25rem .5rem;
            padding: .25rem 1rem;
            display: inline-block;
            color: colors.$main-color;
            @include mixins.standartHover;
        }
        &::after{
            content: "";
            display: table;
            clear: both;
        }
    }
}
.heading__button{
    padding: .5rem 1.875rem;
    background:transparent;
    border: 2px solid colors.$main-color;;
    @include mixins.standartHover;
    text-decoration: none;
    color: colors.$main-color;
}
.heading__logo{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: colors.$main-color;
    font-family: sans-serif;    
}