@use '@/_colors.scss' as colors;
@use '@/style.module.scss';
@use '../NavMenu/navmenu.module.scss';
@use '@/_mixin.scss' as mixins;

$link-hover-color: darken(colors.$main-background-color,15%);
.site__heading{
    background: colors.$main-background-color;
    display: block;
    width: 100%;
    padding: 1.125rem 2.5rem;
    >.container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .nav{
        flex:1;
    }
    border-bottom: 1px solid colors.$main-color;
}
.heading__with-burger>.container{
    justify-content: space-between;
    align-items: flex-start;
}
.heading__button{
    padding: .5rem 1.875rem;
    background:transparent;
    border: 2px solid colors.$main-color;;
    @include mixins.standartHover;
    text-decoration: none;
    color: colors.$main-color;
}
.button__active{
    background-color: darken(colors.$main-background-color, 15%);
}
.heading__logo{
    text-align: left;
    margin: 0 .5rem 0 0;
    >.logo__link{
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 2.25rem;
        letter-spacing: 0em;
        color: colors.$main-color;
        font-family: sans-serif;
        text-decoration: none;
        transition: color .25s ease-in-out;
        &:hover{
            color: lighten(colors.$main-color, 30%);
        }
    }
}