$main-background-color:#F2F5EA;
$main-color:#2C363F;
$home-rectangle-color: #2C363F;
$contact-dialog-bckg-color: transparent; //rgba(101, 111, 121,.3);
$contact-dialog-control-bckg-color: #EEEEEE;
$contact-dialog-control-color: $main-color;
$contact-dialog-close-button-color: $main-color


