@use './_colors.scss' as colors;
$link-hover-color: darken(colors.$main-background-color,15%);
@mixin standartHover($bckg-color: colors.$main-background-color) {
    transition: background .25s ease-in-out;
    background: $bckg-color;
    &:hover{
        background: darken($bckg-color, 15%);
    }
}