@use './colors' as colors;
.site__main{
    flex:1 1 0%;
    background: colors.$main-background-color;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.p-rel{
    position: relative;
    width: 100%;
}
.bunner{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,.1);
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    .bunner__message{
        position: absolute;
        top:50%;
        left:50%;
        font-size: 4rem;
        color:#FFFFFF;
        transform: translate(-50%,-50%);
    }
}
